<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<!-- java.lang -->
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.lang.Float" alias="Float"/>
		<typeAlias type="java.util.List" alias="List"/>
	
		<!-- place 맛집관련-->
		<typeAlias type="com.food.sbproject1.place.PlaceVO" alias="PlaceVO"/>
		<typeAlias type="com.food.sbproject1.place.PlaceFileVO" alias="PlaceFileVO"/>
		<typeAlias type="com.food.sbproject1.place.PlaceFilesVO" alias="PlaceFilesVO"/>
		<typeAlias type="com.food.sbproject1.place.PlaceLikeVO" alias="PlaceLikeVO"/>
		
		<!-- member -->
		<typeAlias type="com.food.sbproject1.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.food.sbproject1.member.MemberFileVO" alias="MemberFileVO"/>
		<typeAlias type="com.food.sbproject1.member.MemberRoleVO" alias="MemberRoleVO"/>
	
		
		<!-- review 리뷰관련 -->
		<typeAlias type="com.food.sbproject1.review.ReviewVO" alias="ReviewVO"/>
		
		<!-- talk 소통관련 -->
		<typeAlias type="com.food.sbproject1.talk.TalkVO" alias="TalkVO"/>
		<typeAlias type="com.food.sbproject1.talk.TalkReplyVO" alias="TalkReplyVO"/>
		
		<!-- notice -->
		<typeAlias type="com.food.sbproject1.notice.NoticeVO" alias="NoticeVO"/>
		
		<!-- level -->
		<typeAlias type="com.food.sbproject1.level.LevelVO" alias="LevelVO"/>
		
		<typeAlias type="com.food.sbproject1.util.Pager" alias="Pager"/>
	</typeAliases>
</configuration>