@charset "UTF-8";

/*footer 부분*/
	#footer{
		background: #fbfbfb;
		border-top: 1px solid #e7e7e7;
		position: relative;
		padding: 0 0 10px 30px;
		height: 193px;
		color: #777;
	}
	#footer .logo{
		display: block;
		min-width: 23px;
		min-height: 23px;
		margin: 22px 0 17px;
		background: url("/image/icon/footer_logo1.png") no-repeat 0 center;
	}
	#footer .logo em{
		font-style: normal;
		font-size: .875em;
		padding-top: 3px;
		display: inline-block;
		padding-left: 75px;
	}
	#footer .utill_m{
		overflow: hidden;
		padding-bottom: 15px;
	}
	#footer .utill_m li:first-child {
		background: none;
		padding-left: 0;
	}
	#footer .utill_m li{
		float: left;
		padding: 0 10px;
		font-size: 1.1em;
		letter-spacing: -.50px;
		background: url("/image/icon/bg_gubun07.gif") no-repeat 0 2px;;
	}
	#footer .utill_m li a{
		color: #999;
	}
	#footer p{
		color: #777;
		line-height: 20px;
	}
	#footer p em{
		display: inline-block;
		width: 2px;
		height: 11px;
		margin: 0 7px;
		position: relative;
		top: 2px;
		background: url("/image/icon/bg_gubun08.gif") no-repeat 0 0;
	}
	/*footer END*/