<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.food.sbproject1.member.MemberMapper">
  	
 	<select id="getMemberId" resultType="MemberVO" parameterType="MemberVO">
  	select * from member where id= #{id}
  	</select>
	
  
  	<insert id="setMemberJoin" parameterType="MemberVO">
  		insert into member(id,pw,name,age,email)
		values(#{id}, #{pw}, #{name}, #{age}, #{email})
  	</insert>
 	
 	<insert id="setGradeInsert" parameterType="MemberRoleVO">
 		insert into memberrole(grade,id) values('3등급',#{id})
 	</insert>
 
 	<insert id="setMemberFileInsert" parameterType="MemberFileVO">
		insert into memberfile(id,fileName,oriName)
		values(#{id}, #{fileName}, #{oriName})
	</insert>
  	
  	<select id="getOne" parameterType="MemberVO" resultType="MemberVO">
    	select * from member where id=#{id}
    </select>

	<select id="getMemberLogin" resultMap="memberLoginResult" parameterType="MemberVO">
		select M.id, M.name, M.age, M.email, MR.grade, MF.fileName, MF.oriName
		from member M inner join memberrole MR
		on M.id = MR.id 
		left join memberfile MF 
		on M.id = MF.id
		where M.id= #{id} and M.pw= #{pw}
	</select>
	<resultMap type="MemberVO" id="memberLoginResult">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="pw" property="pw"/>
		<result column="pw2" property="pw2"/>
		<result column="email" property="email"/>
		<result column="age" property="age"/>
		
		<association property="memberFileVO" javaType="MemberFileVO">
			<id column="filenum" property="filenum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</association>	
		
		<collection property="role" javaType="List" ofType="MemberRoleVO">
			<id column="grade" property="grade"/>
			<result column="id" property="id"/>
		</collection>
	</resultMap>	
	
	
  	<update id="setMemberUpdate" parameterType="MemberVO">
  		update member set age= #{age}, email= #{email} where id= #{id}
  	</update>
  	
  	<delete id="setMemberDelete" parameterType="MemberVO">
		delete from member where id= #{id} 
  	</delete>
  </mapper>