<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.food.sbproject1.review.ReviewMapper">
	
	<!-- 별점 리뷰 작성하기 -->
	<insert id="setInsert" parameterType="ReviewVO">
		insert into review(id, contents, star, regDate, ref, restaurant)
		values(#{id}, #{contents}, #{star}, sysdate(), #{ref}, #{restaurant})
	</insert>
	
	<!-- 리스트에 별점 뿌리기 -->
	<select id="getStarAvg" resultType="Float" parameterType="ReviewVO">
		select ifnull(truncate(avg(star),1), 0.0) from review where ref = #{ref}
	</select>
	
	<!-- 해당 글 리뷰 정보 -->
	<select id="getReviewList" resultMap="getReviewResult" parameterType="Pager">
		select R.*, M.level, M.id, MF.fileName 
		from review R inner join member M 
		on R.id = M.id
		left join memberfile MF
		on M.id = MF.id
		where R.ref = #{ref} 
		order by R.num desc 
		limit #{startRow}, 5;
	</select>
	
	<!-- 해당 글 리뷰 수 -->
	<select id="getReviewCount" resultType="Long" parameterType="Pager">
		select count(num) from review where ref = #{ref}
	</select>
	
	<!-- 리뷰 삭제하기 -->
	<delete id="setReviewDelete" parameterType="ReviewVO">
		delete from review where num = #{num}
	</delete>
	
	<!-- 나의 리뷰 -->
	<select id="getMyReview" parameterType="ReviewVO" resultType="ReviewVO">
		select * from review where id=#{id}
	</select>
	
	<resultMap type="ReviewVO" id="getReviewResult">
		<id property="num" column="num"></id>
		<result property="id" column="id"/>
		<result property="contents" column="contents"/>
		<result property="star" column="star"/>
		<result property="regDate" column="regDate"/>
		<result property="ref" column="ref"/>
		<result property="restaurant" column="restaurant"/>
		
		<association property="memberVO" resultMap="memberLevelResult" javaType="MemberVO"></association>
		<association property="memberFileVO" resultMap="memberFileResult" javaType="MemberFileVO"></association>
	</resultMap>
	
	<resultMap type="MemberVO" id="memberLevelResult">
		<id property="id" column="id"/>
		<result property="level" column="level"/>
	</resultMap>
	<resultMap type="MemberFileVO" id="memberFileResult">
		<id property="id" column="id"/>
		<result property="fileName" column="fileName"/>
	</resultMap>		
</mapper>  